Source: clearwater-logging
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-logging
Architecture: all
Depends: nagios3-core, nagios-plugins, sysstat, splunkforwarder
Description: Common logging infrastructure for Clearwater
